body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:#dd2e2e;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: #333;
}


#cabecera{
    background: #33a;
    color: #705f5f;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
    background: no-repeat;
}

#cabecera img{

    width: 10em;
    height: 5em;
}

#cabecera #tagline{
    padding: 0 0 0  1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container{
width: 70%;
padding: 1em;
text-align: left;
border: 1px solid #333;
margin: 0 auto;
}

#container h1{
    font-size: 20px;
}

#footer{
    background: #333;
    color: white;
}